<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="publish_tf" default="true"/>
	<arg name="config_file" default="$(find dynamic_mapping)/config/config.yaml"/>
	<arg name="ground_removal_config_file" default="$(find ground_remover)/config/config.yaml"/>
	<arg name="ground_removal_voxel_size" default="0.15"/>
	<arg name="launch_rviz" default="true"/>

    <group if="$(arg publish_tf)">
        <include file="$(find m545_urdf)/launch/load.launch"/>
        <include file="$(find m545_rviz)/launch/tf_publisher.launch"/>
    </group>
     <node pkg="nodelet" type="nodelet" name="dynamic_mapping_nodelet_manager" args="manager" output="screen" clear_params="true"/>
    <node name="dynamic_mapping_nodelet" pkg="nodelet" type="nodelet" args="load dynamic_mapping_nodelet dynamic_mapping_nodelet_manager" output="screen">
        <param name="config_file" type="string" value="$(arg config_file)"/>
        <param name="ground_removal_config_file" type="string" value="$(arg ground_removal_config_file)"/>
        <param name="ground_removal_voxel_size" type="double" value="$(arg ground_removal_voxel_size)" />
    </node>
    <node pkg="nodelet" type="nodelet" name="message_matching_nodelet" args="load message_matching_nodelet dynamic_mapping_nodelet_manager" output="screen">
        <rosparam file="$(find message_matching)/param/params.yaml" command="load"/>
    </node>
     <node name="rviz_dynamic_mapping" pkg="rviz" type="rviz" args="-d $(find dynamic_mapping)/rviz/rviz.rviz" if="$(arg launch_rviz)" />
</launch>
